﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Contact</h2>

<form action="/Home/Contact" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" name="Name" class="form-control" id="Name" required>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" class="form-control" id="Email" required>
    </div>

    <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="tel" name="Phone" class="form-control" id="Phone" required>
    </div>

    <div class="form-group">
        <label for="Query">Query</label>
        <textarea class="form-control" id="Query" name="Query"></textarea>
    </div>
    <input type="submit" class="btn btn-success" name="Submit" value="Submit" />
</form>
<br />
<div>
    <h4>@ViewBag.message</h4>
</div>

<br />