﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Add EMployee</h2>
<br /><br />
      <form action="/Home/Add" method="post">
      
          <div class="form-group">
              <label for="Number">Number</label>
              <input type="text" name="Number" class="form-control" id="Number" placeholder="Enter Number">
          </div>
          <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" name="Name" class="form-control" id="Name" placeholder="Enter Name">
          </div>
          <div class="form-group">
              <label for="Address">Address</label>
              <input type="text" name="Address" class="form-control" id="Address" placeholder="Enter Address">
          </div>
          <input class="btn btn-success" type="submit" name="Submit" value="Submit" />
          <a class="btn btn-danger" href="/Home/Index">Cancel</a>
      </form>