﻿@model mvcDemo.Models.Emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Id : @Html.TextBox("Number")
    Name : @Html.TextBox("Name")
    Adress : @Html.TextBox("Address")
</body>
</html>