﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>SignIn</title>
</head>
<body>
    <div class="container">
        <form action="/Login/SignIn" method="post">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="Username" id="Username">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" id="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Keep me Signed In</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>
            @ViewBag.ErrorMessage
        </p>
    </div>
</body>
</html>
