﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        footer {
            height: 60px;
            background-color: #343A40;
            width: 100vw;
            bottom: 0;
            text-align: center;
            padding-top: 20px;
        }

        .col-md-3,.col-md-6{
            text-align:center;
            border:1px solid;
            height:auto;
        }

        .box{
            height:50%;
            width:50%
        }

        .col-md-3 ul{
            text-decoration:none;   
            list-style:none;
        }
        .col-md-3 li {
            text-decoration:none;
            margin-top: 100px;
        }

        footer{
            color:whitesmoke;
        }
        .col-md-3 a {
            color: #343A40;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Welcome @ViewBag.UserName</a>
                </li>
                <li class="nav-item">
                    @if (ViewBag.UserName != "")
                    {
                        <a class="nav-link" href="/Login/Signout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/Login/SignIn">Login</a>
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Sigin</a></li>
                </ul>
            </div>
            <div class="col-md-6"> @RenderBody()</div>
            <div class="col-md-3">
                <h2>Ad Content</h2>
                @RenderSection("customAds", false);
                <div class="box"></div>
            </div>
        </div>
    </div>
    <footer>
        This Is the Footer
    </footer>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
