﻿
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<script>
    function GetData() {
        $.ajax({
            url: "/Test/Index/2",
            contentType: "application/json",
            type: "GET",
            success: function (result) {
                debugger;
                $("#containerUL").html('');

                result.map((item) => {
                let liElement = "<li>" + item.Number + " | " + item.Name + " | " + item.Address + " | " + "</li>";
                $("#containerUL").append(liElement);
                });
                debugger;
            },
            error: function (error) {
                debugger;
                alert("Something is not right here!")
            }
        });
    }
    window.setInterval(GetData, 5000);
</script>

<h2>Welcome to View which is using Ajax</h2>

<ul id="containerUL"></ul>

<br />

<input type="button" value="Get Data" />

