﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>About</h2>

@section customAds{
    <h3>Custom Ad1</h3>
    <h3>Custom Ad2</h3>
    <h3>Custom Ad3</h3>
}