﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>@ViewBag.message</h2>
<br /><br />
<form action="/Home/Edit" method="post">
    <input type="hidden" name="Number" value="@Model.Number" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" name="Name" class="form-control" id="Name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" name="Address" class="form-control" id="Address" value="@Model.Address">
    </div>
    <input class="btn btn-success" type="submit" name="Submit" value="Submit" />
    <a class="btn btn-danger" href="/Home/Index">Cancel</a>
</form>