﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>@ViewData["message"]</h2>

<div>
    <a class="btn btn-success btn-block" href="/Home/Add">Add</a>
</div>
<br />
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Number</td>
                <td>@emp.Name</td>
                <td>@emp.Address</td>
                <td><a class="btn btn-warning" href="/Home/Edit/@emp.Number">Edit</a></td>
                <td><a class="btn btn-danger" href="/Home/Delete/@emp.Number">Delete</a></td>
            </tr>
        }
    </tbody>
</table>