﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Update</title>
</head>
<body>
    <div class="container">

        <form action="/Test/AfterInsert" method="post">
            <div class="form-group">
                <label for="number">Number</label>
                <input class="form-control" type="text" id="number" name="Number" placeholder="Enter Number" />
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" name="Name" placeholder="Enter Name" />
            </div>

            <div class="form-group">
                <label for="address">Name</label>
                <input class="form-control" type="text" id="address" name="Address" placeholder="Enter Address" />
            </div>

            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Update" />
                <a href="/Test/Show" class="btn btn-danger">Cancel</a>
            </div>
        </form>

    </div>
</body>
</html>
