﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Show</title>
</head>
<body>
    <div class="container">
        <a href="/Test/Insert" style="float:right" class="btn btn-success">Insert</a>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Number</td>
                <td>@emp.Name</td>
                <td>@emp.Address</td>
                <td>
                    <a class="btn btn-warning" href="/Test/Update/@emp.Number">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="/Test/Delete/@emp.Number">Delete</a>
                </td>
            </tr>
        }
    </table>

    </div>
</body>
</html>
