﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XYZ</title>
</head>
<body>
    <h1>Number = @Model.Number</h1>
    <h1>Name = @Model.Name</h1>
    <h3>Address = @Model.Address</h3>
</body>
</html>
