﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>Error</h2>

<div>
    <h1>Some is not right here.. Pls try again after some time</h1>
    <h6>Technical details:</h6>
    <p>
        @Model.Exception.Message
    </p>

</div>